@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .focus-band {
    box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
  }
}

body {
  @apply text-neutral-900;
  background: linear-gradient(148deg, #f9fafb 8.89%, #d2d6db 100.48%);
}
